#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl-common.h>

&spi1 {
    pinctrl-0 = <&spi1_sck_pin &spi1_mosi_pin &spi1_miso_pin >;
    pinctrl-names = "default";
    status = "okay";
    
	ws2812: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;
		frame-format = <32768>; /* SPI_FRAME_FORMAT_TI */

		/* WS2812 */
		chain-length = <12>; /* arbitrary; change at will */
		spi-one-frame = <0x70>; 
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&pinctrl {
    spi1_mosi_pin: spi1_mosi_pin {
        pinmux = <STM32_PINMUX('D', 6, AF5)>;
        bias-disable;
    };
    spi1_miso_pin: spi1_miso_pin {
        pinmux = <STM32_PINMUX('D', 7, AF5)>;
        bias-disable;
    };
    spi1_sck_pin: spi1_sck_pin {
        pinmux = <STM32_PINMUX('D', 5, AF5)>;
        bias-disable;
    };
};

/ {
    leds {
		compatible = "gpio-leds";
		led0: led0 {
			gpios = < &gpiod 0xc 0x0 >;
			label = "LED";
		};
	};
    aliases {
        led0 = &led0;
        led-strip = &ws2812;
    };
};